<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">SpringBootThymeleaf</title>
	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/jquery/3.4.1/jquery.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/jquery-ui-themes/1.12.1/blitzer/theme.css" /> 
	<link rel="stylesheet" type="text/css" href="webjars/font-awesome/5.11.2/css/all.min.css" /> 
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
</head>

<body>
	<!--header.html  that's here  -->
	<header>
		<div th:replace="fragments/header :: header"></div>
	</header>
	
	<div layout:fragment="content">
		<!-- Your Page Content Here -->
	</div>

	<!--footer.html  that's here  -->
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>

	<!-- JS -->
	<script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
  	<script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
  	<script type="text/javascript">
    $(document).ready(function () {
    	$('.fa-times').css('color', '#ff0000');
    	$('.fa-edit').css('color', '#0000ff');
    });
	</script>
	<!-- autocomplete -->
  	<script>
	$(document).ready(function() {
		$('#teamName').autocomplete({
			source : '/search',
			minLength: '2',
			messages: {
		        noResults: 'no results',
		        results: ''
		    }
		});
	});
	</script>
	<!-- blinking effect -->
	<script>
	$(document).ready(function blink() {
		$('#a-save').fadeIn(750).delay(250).fadeOut(1000, blink);
	});
	</script>
	<script>
	$(document).ready(function() {
		$('#name').focus();
	});
	</script>
</body>
</html>