<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
<head>
	<!-- fonts googleapis-->
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
	<title>form :: springboot</title>
</head>
<body>
	<!-- body -->
	<div layout:fragment="content">
		<div class="container-fluid" align="center">	<!-- main container -->
			<div class="col-lg-9 player-form">
				<form th:action="@{/update}" th:object="${player}" method="post" id="player-form">
					<!-- id -->
					<div class="form-group">
						<label for="id" class="col-md-4 control-label font-weight-bold">ID</label>
						<div class="col-md-4">
		 					<input type="text" th:field="*{id}" class="form-control" id="id" placeholder="" readonly="readonly"/>
		 					<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert text-danger"></span>
						</div>
					</div>
					<!-- name -->
					<div class="form-group">
						<label for="name" class="col-md-4 control-label font-weight-bold">Name</label>
						<div class="col-md-4">
		 					<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="" required="required"/>
		 					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert text-danger"></span>
						</div>
					</div>
					<!-- email -->
					<div class="form-group">
						<label for="email" class="col-md-4 control-label font-weight-bold">Email</label>
						<div class="col-md-4">
		 					<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="" required="required"/>
		 					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert text-danger"></span> 
						</div>
					</div>
					<!-- team -->
	   				<div class="form-group">
	   					<label for="team" class="col-md-4 control-label font-weight-bold">Team</label>
	   					<div class="col-lg-4" align="left">
	   						<select th:field="*{team}" class="form-control">
	   							<option value=""></option>
	   							<option th:each="team : ${teams}"
	   								th:value="${team.id}"
	   								th:text="${team.name}"
	   								th:selected="false"
	   							/>
	   						</select>
	   						<span th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="alert text-danger"></span> 	
						</div>
					</div>
					<!-- Button -->
					<div class="form-group">
						<div class="col-md-4" align="left">
							<input type="submit" class="btn" value="Update"> 
						</div>
					</div>
				</form>
			</div>
		</div> <!-- /main container -->
	</div>
</body>
</html>